<div>
  <app-title [subtitle]="subtitle"></app-title>
  <nav>
    <ul>
      <li>
        Template Syntax & data binding
        <ul>
          <li><a routerLink="/tpl-syntax-data-binding/tpl-syntax">Template syntax</a></li>
          <li><a routerLink="/tpl-syntax-data-binding/property-binding">Property Binding</a></li>
          <li><a routerLink="/tpl-syntax-data-binding/attr-class-style-binding">Attributes, class and style binding</a></li>
          <li><a routerLink="/tpl-syntax-data-binding/event-binding">Event binding</a></li>
          <li><a routerLink="/tpl-syntax-data-binding/two-way-binding">Two way binding</a></li>
          <li><a routerLink="/tpl-syntax-data-binding/built-in-attr-directives">Built-in attributes directives</a></li>
          <li><a routerLink="/tpl-syntax-data-binding/built-in-struct-directives">Built-in structural directives</a></li>
          <li><a routerLink="/tpl-syntax-data-binding/template-reference-variables">Template reference variables</a></li>
          <li><a routerLink="/tpl-syntax-data-binding/input-output-props">Input and Ouput properties</a></li>
          <li><a routerLink="/tpl-syntax-data-binding/tpl-expr-operators">Template epression operators</a></li>
        </ul>
      </li>
      <li>
          <a routerLink="contact" routerLinkActive="active">Contact</a>
      </li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</div>

