<div>
  <h1>
    Welcome to {{title}}!
  </h1>
  <nav>
    <ul>
      <li>
        <a routerLink="/template-syntax">Template Syntax</a>
        <ul>
          <li><a routerLink="/template-syntax/property-binding">Property Binding</a></li>
          <li><a routerLink="/template-syntax/attr-class-style-binding">Attributes, class and style binding</a></li>
          <li><a routerLink="/template-syntax/event-binding">Event binding</a></li>
          <li><a routerLink="/template-syntax/two-way-binding">Two way binding</a></li>
          <li><a routerLink="/template-syntax/built-in-attr-directives">Built-in attributes directives</a></li>
          <li><a routerLink="/template-syntax/built-in-struct-directives">Built-in structural directives</a></li>
        </ul>
      </li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</div>

